@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Kaushan+Script');

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 400px;
  padding: 1em;
  font-family: sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5rem;
  color: #3a3a3a;
  padding-top: 0.5em;
  padding-bottom: 5%;
  margin: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #3a3a3a;
  margin: 0;
}

input[type=text]  {
  width: 80%;
  text-align: left;
  background-color: #FFF8E1;
  padding: 3% 5%;
  border: none;
  font-size: 1.5em;
  border-bottom: solid 2px #f7f7f7;
  transition: border 0.3s;
  border-radius: 5px;
  outline-color: white;
  margin: 1em 0;
}

button {
  background-color: #FF8F00;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 1em;
  width: 230px;
}

button:hover {
  transition: background-color 1s ease;
  background-color: #FFC107;
}

.bday-scramble {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}

.bday-text {
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
  color: #3a3a3a;
  padding-left: 0.5em;
  padding-bottom: 1em;
  width: 80%;
  overflow-wrap: break-word;
  overflow: auto;
}

.two-buttons button {
  width: 30%;
}

.input-scramble {
  padding-top: 1em;
}

.input-results {
  padding: 1em;
}

.spacer {
  height: 100px;
}

footer {
  margin-top: 1em;
  background: #3a3a3a;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: white;
  margin-left: 1em;
}

footer p:hover {
  color: #FF8F00;
}

.footer-content {
  padding: 2em;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

a:hover {
  color: #FF8F00;
}

@media only screen and (max-width: 540px){
   h1 {
     font-size: 4em;
     margin-bottom: 0;
   }

  button {
    margin-left: 0;
  }

  input[type=text] {
    width: 50%;
  }

  .input-form {
    display: flex;
    flex-direction: column;

  }
}

@media only screen and (max-width: 420px){
  h1 {
    font-size: 4em;
    margin-bottom: 0;
  }

  button {
    margin-left: 0.25em;
  }

  .bday-text {
    padding-left: 0.25em;
    padding-bottom: 0.5em;
    font-size: 3em;
  }
  .two-buttons button {
    margin: 0.25em;
    width: 45%;
  }
  input[type=text] {
    width: 94%;
  }

  .input-form {
    display: flex;
    flex-direction: column;

  }
}